{% extends 'base/base.html' %}
{% block page_content %}
        <section id="register-page" class="register">
{#          TODO: check the action / method #}
            <form id="register-form" action="{% url 'create profile' %}" method="POST">
                <fieldset>
                    <legend>Profile Form</legend>
                    {{ form }}
                    {% csrf_token %}
                    <input class="button submit" type="submit" value="Enter">
                </fieldset>
            </form>
        </section>
{% endblock %}